.jumbotron
  %h1 SpeedyGift is your the best choose!
  %p.lead Functionality is simple. Login with you facebook account, then choose your friend and then you will have list of gifts that you friend wants to have.
  %p
    %a.btn.btn-lg.btn-success{ href: user_omniauth_authorize_url(provider: :facebook), role: 'button' } Sign up with Facebook
